<section class="signers-section">

    {{#if listOfSigners}}
        <p class="signers-title">Our supporters:</p>
        <div class="signers-container">
            {{#listOfSigners}}
                <div class="signer-div">
                    <p class="signer">{{first}}
                        {{last}},<br />
                        {{age}}
                        {{#if city}}
                            <a href="/petition/signers/{{city}}">{{city}}</a>
                        {{/if}}
                    </p>
                </div>
            {{/listOfSigners}}
        </div>
    {{/if}}

    {{#if results}}
        <p class="same-city-title">People from {{city}} who signed:</p>
        <div class="same-city-container">
            {{#results}}
                <div class="same-city-div">
                    <p class="signer"> {{first}} {{last}},<br /> {{age}}</p>
                </div>
            {{/results}}
        </div>
    {{/if}}
</section>