<section class="signers-section">
    {{>logout}}
    
    {{#if listOfSigners}}
    <h4>Those are the people who signed:</h4>
        {{#listOfSigners}}
            <h4>{{first}} {{last}} {{age}}
            <a href="/petition/signers/{{city}}">{{city}}</a></h4>
        {{/listOfSigners}}
    {{/if}}
    {{#if results}}
        <h4>Those are the people from {{city}} who signed:</h4>
        {{#results}}
            <p> {{first}} {{last}} {{age}}</p>
        {{/results}}
    {{/if}}

    
</section>